* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    color: white;
    width: 110px;
    background-color: #3882f6;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px
}

.header {
    background-color: #1F2937;
    height: auto
}

.headerlogo {
    margin-top: 10px;
}

.headertop {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 5px;
    max-width: 1000px;
    margin: auto
}

.headerlink {
    margin-top: 10px;
}

.headerbottom {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: white;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    margin: auto
}

.headerbottomleft {
    max-width: 100px;
}


.headerblefttop {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.headerbleftm {
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.infocontainer {
    padding-bottom: 50px;
}

.infotitle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 25px;
    color: #1f2937;
}

.infoboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.infobox img {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 180px
}

.infobox p {
    text-align: center;
    max-width: 200px;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
    gap: 10px;
}

.quotecontainer q {
    quotes: none;
    font-style: italic;
    opacity: 0.55;
    font-size: 40px;
    max-width: 1000px;
}

.quotecontainer figcaption {
    color: #1F2937;
    font-size: 23px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 150px;
}

.ctacontainer {
    padding: 90px;
}

.ctabox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    height: 130px;
    max-width: 900px;
    margin: auto;
    gap: 180px;
}

.ctabox button {
    margin-right: 20px;
    border: 2px solid white;
    font-weight: 450;
    font-size: 17px
}

.ctabox h1 {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
}

.ctabox p {
    margin-left: 20px;
    font-size: 17px;
    opacity: 0.8;
}

.copycontainer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
    background-color: #1F2937;
}
